[submodule "vendor/boost"]
	path = vendor/boost
	url = https://github.com/boostorg/boost.git
[submodule "simplemail/vendor"]
	path = simplemail/vendor
	url = https://github.com/cutelyst/simple-mail.git
