[submodule "vendor/boost"]
	path = vendor/boost
	url = https://github.com/boostorg/boost.git
[submodule "vendor/SmtpClient"]
	path = vendor/SmtpClient
	url = https://github.com/bluetiger9/SmtpClient-for-Qt.git
